@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This application is AZURE cloud web application based on MVC model.
    
    This web application is designed for the presentation of data from a smart space in DomoCasa. Application was developed in cooperation with <b> The Institute biorobotics LAB: Service Robotics and Ambient Assisted Living Lab Scuola Superiore Sant'Anna </b> and  <b> the Department of Cybernetics and Artificial Intelligence
    Faculty of Electrical Engineering and  Informatics Technical University of Košice</b>
    
     </p>
