@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    The BioRobotics Institute                                
    Scuola Superiore Sant'Anna                                          
    Viale Rinaldo Piaggio, 34                                              
    <br />
    LAB: Service Robotics and Ambient Assisted Living Lab
    Via Boccioni, 1
    56037 Peccioli, Pisa - ITALY


    Department of Cybernetics and Artificial Intelligence
    Faculty of Electrical Engineering and Informatics
    Technical University of Košice
    Letná 9/B
    042 00 Košice
    Slovak republic
</address>

